{
  "host" : "mailto:oizhaolei@gmail.com",
  "port" : 80,

  "appId": "",
  "appSecret": "",
  "appToken": "",

  "mch_id" : "",
  "wxpay_api_secret" : "",

  "session_secret" : "",

  "weixin_web_url" : "http://haoshufu.tttalk.org/mobile/"
}
