<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>{{title}}</title>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    {{{block "css"}}}
 </head>
 <body>
  <div class="container theme-showcase" role="main">
   {{{body}}}
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {{{block "scripts"}}}
 </body>
</html>
