<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta name="description" content="ttt" />
  <meta name="author" content="" />
  <title>{{title}}</title>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/bower_components/weui/dist/style/weui.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
    {{{block "css"}}}
 </head>
 <body ontouchstart>
    <div class="container js_container">

    </div>
   {{{body}}}
  <!-- Bootstrap core JavaScript -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {{{block "scripts"}}}
 </body>
</html>
