<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">请选择充值金额</h3>
  </div>
  <div class="list-group">
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx99b8690b0397ad16&redirect_uri=http://test.tttalk.org/oauth?action=wxpay_1&response_type=code&scope=snsapi_base&state=1#wechat_redirect"  target="_blank" class="list-group-item">0.01元</a>
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx99b8690b0397ad16&redirect_uri=http://test.tttalk.org/oauth?action=wxpay_100&response_type=code&scope=snsapi_base&state=1#wechat_redirect"  target="_blank" class="list-group-item">1.00元</a>
  </div>
</div>