<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">请支付</h3>
  </div>
  <div class="panel-body">
    <h5>{{ params.body }}{{ params.detail }}</h5>
    <button class="btn btn-primary btn-block" id="chooseWXPay">支付</button>
  </div>
</div>
{{#extend "scripts"}}
    <script src="/jweixin-1.0.0.js"></script>
    <script>
 $('#chooseWXPay').click(function () {
     WeixinJSBridge.invoke(
         'getBrandWCPayRequest', {{{json payargs }}},
         function(res){
             _log(res);
         }
     );
 });

 function _log(msg) {
     $.ajax({
         url: '/log',
         type: 'post',
         data: {
             msg: msg
         }
     });
 }
    </script>
{{/extend}}