<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">请选择充值金额</h3>
  </div>
  <div class="list-group">
    <a href="/wxpay?openid={{openid}}&fee=1" class="list-group-item">0.01元</a>
    <a href="/wxpay?openid={{openid}}&fee=100" class="list-group-item">1.00元</a>
  </div>
</div>