<div class="page">
  <div class="hd">
    <h1 class="page_title">{{share_msg}}</h1>
  </div>
  <div class="bd spacing">
    <h5 class="text-muted">{{share_memo}}</h5>
    <a href="/share_to_friend_qrcode?openid={{openid}}" class="weui_btn weui_btn_primary" role="button">即刻分享</a>
  </div>
</div>
