<div class="page">
  <div class="hd">
    <h2 class="page_title">TTTalk翻译秘书</h2>
  </div>
  <div class="bd">
    <div class="weui_msg">
      <div class="weui_icon_area">
        <img src="{{qrcode}}" class="img-thumbnail center-block" />
      </div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title">{{share_memo}}</h2>
        <p class="weui_msg_desc">{{share_msg}}</p>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script src="/jweixin-1.0.0.js" > </script>
<script>
   $.ajax({
        url: '/weixin/getsignature',
        type: 'post',
        data: {
            url: location.href.split('#')[0]
        }
    }).done(function(r) {
        wx.config({
            appId: r.appId,
            timestamp: r.timestamp,
            nonceStr: r.nonceStr,
            signature: r.signature,
            jsApiList: [
                'onMenuShareAppMessage',
                'onMenuShareTimeline'
            ]
        });
    });
    wx.ready(function() {
      var shareData = {
        title: 'TTTalk翻译秘书',
        desc: '你还在为寻找中韩翻译而苦恼吗？TTTalk翻译秘书帮您解决问题，人工翻译，专业而准确.',
        imgUrl: 'http://file.tttalk.org/public/weixin_logo.png'
      };
      wx.onMenuShareAppMessage(shareData);
      var shareDataTimeline = {
        title: ''你还在为寻找中韩翻译而苦恼吗？TTTalk翻译秘书帮您解决问题，人工翻译，专业而准确.',
        imgUrl: 'http://file.tttalk.org/public/weixin_logo.png'
      };
      wx.onMenuShareTimeline(shareDataTimeline);
    });
</script > 
{{/extend}}
