<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">TTTalk翻译秘书</h3>
  </div>
  <div class="panel-body">
    <img src="{{qrcode}}" class="img-thumbnail center-block">
     <h3 class="text-center text-primary"><strong>{{share_msg}}</strong><h3>
     <h5 class="text-muted">{{share_memo}}<h5>
  </div>
</div>
{{#extend "scripts"}}
<script src="/jweixin-1.0.0.js" > </script>
<script>
   $.ajax({
        url: '/weixin/getsignature',
        type: 'post',
        data: {
            url: location.href.split('#')[0]
        }
    }).done(function(r) {
        wx.config({
            appId: r.appId,
            timestamp: r.timestamp,
            nonceStr: r.nonceStr,
            signature: r.signature,
            jsApiList: [
                'onMenuShareAppMessage'
            ]
        });
    });
    wx.ready(function() {
      var shareData = {
        title: 'TTTalk翻译秘书',
        desc: '你还在为寻找中韩翻译而苦恼吗？TTTalk翻译秘书帮您解决问题，人工翻译，专业而准确.',
        imgUrl: 'http://file.tttalk.org/public/weixin_logo.png'
      };
      wx.onMenuShareAppMessage(shareData);
      wx.onMenuShareTimeline(shareData);
    });
</script > 
{{/extend}}