<div class="page">
    <div class="hd">
        <h1 class="page_title">卡券充值</h1>
    </div>
    <div class="bd spacing">
        <div class="weui_text_area">{{msg}}</div>
        <div class="weui_extra_area">
            <a href="/fee_history?openid={{openid}}">查看详情</a>
        </div>
    </div>
</div>
