<div class="page">
  <div class="hd">
    <h1 class="page_title">请选择充值金额</h1>
  </div>
  <div class="bd spacing">
    <div class="row">
      <div class="panel-body col-xs-6">
        <button fee="1" class="weui_btn weui_btn_plain_primary btn-pay">0.01元</button>
      </div>
      <div class="panel-body col-xs-6">
        <button fee="100" class="weui_btn weui_btn_plain_primary btn-pay">1.00元</button>
      </div>
      <div class="panel-body col-xs-6">
        <button fee="1000" class="weui_btn weui_btn_plain_primary btn-pay">10.00元</button>
      </div>
      <div class="panel-body col-xs-6">
        <button fee="5000" class="weui_btn weui_btn_plain_primary btn-pay">50.00元</button>
      </div>
      <div class="panel-body col-xs-6">
        <button fee="10000" class="weui_btn weui_btn_plain_primary btn-pay">100.00元</button>
      </div>
      <div class="panel-body col-xs-6">
        <button fee="20000" class="weui_btn weui_btn_plain_primary btn-pay">200.00元</button>
      </div>
    </div>

  </div>
</div>

{{#extend "scripts"}}
    <script src="/stylesheets/jweixin-1.0.0.js"></script>
    <script>
     $(function () {
         $('.btn-pay').click(function () {
             var fee = $(this).attr("fee");
             $.ajax({
                 url: '/wxpay/pay',
                 type: 'post',
                 data: {
                     openid: '{{openid}}',
                     fee : fee
                 }
             }).then(function(data) {
                 WeixinJSBridge.invoke('getBrandWCPayRequest', data, function(res){
                     _log(res);
                     WeixinJSBridge.call('closeWindow');
                 });
             });

         });
     });

     function _log(msg) {
         $.ajax({
             url: '/log',
             type: 'post',
             data: {
                 msg: msg
             }
         });
     }
    </script>
{{/extend}}
