<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">确认支付</h3>
  </div>
  <div class="panel-body">
    <div class="jumbotron">
      <h4 class="text-primary">
                        将为您<strong>{{ params.body }}{{ params.detail }}</strong>，请确认后支付。
      </h4>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="chooseWXPay">支付</button>
  </div>
</div>

{{#extend "scripts"}}
    <script src="/jweixin-1.0.0.js"></script>
    <script>
 $('#chooseWXPay').click(function () {
     WeixinJSBridge.invoke(
         'getBrandWCPayRequest', {{{json payargs }}},
         function(res){
             _log(res);
         }
     );
 });

 function _log(msg) {
     $.ajax({
         url: '/log',
         type: 'post',
         data: {
             msg: msg
         }
     });
    WeixinJSBridge.call('closeWindow');
 }
    </script>
{{/extend}}
